[submodule "day-1/rust-python-interoperability-ws/rust-python-interoperability"]
	path = day-1/rust-python-interoperability-ws/rust-python-interoperability
	url = git@github.com:mainmatter/rust-python-interoperability.git
